/*to calculate em units divide pixel units by 16px as it is the default*/

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #384047;
}

.wrapper {
	max-width: 80%;
	margin: .6255em auto; /*10px/16px = .625em*/
	padding: .625em 1.25em; /*10px/16px = .625em | 20px/16px = 1.25em*/
	background: #1E1E1E;
	border-radius: .35em; /*5px/16px = .35em*/
}

h1 {
	font-size: 1.35em; /*21.6px/16px = 1.35em*/
	margin: .75em 0; /*12px/16px = .75em*/
	text-align: center;
}

.buttons {
	margin: 1em auto; /*16px/16px = 1em*/
	text-align: center;
}

.github::before {
	content: "";
	background: url(../img/github.svg) no-repeat;
	background-size: 100%;
	width: 1.563em; /*25px/16px = 1.563em*/
	height: 1.563em; /*25px/16px = 1.563em*/
	margin: -.325em .35em; /*5px/16px = .325em & .35em*/
	display: inline-block;
}

.button {
	background: #2960ab;
	border-radius: 3.125em; /*50px/16px = 3.125em*/
	color: #fff;
	padding: 1.5em; /*24px/16px = 1.5em*/
	margin: 1em; /*16px/16px = 1em*/
	display: inline-block;
	font-size: .75em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	text-transform: uppercase;
}

.button:hover {
	background: #1188D6;
	transition: color .3s ease, background .3s ease;
	-webkit-transition: color .3s ease, background .3s ease;
}

.button:visited {
	transition: color .3s ease, background .3s ease;
	-webkit-transition: color .3s ease, background .3s ease;
}

#explore {
	margin: 1em auto; /*16px/16px = 1em*/
	width: 50%;
	display: block;
}

.outer-circle,
.iris,
.sub-directions,
.directions {
	opacity: 0;
}

.directions,
.burst,
.eye,
.iris,
.ripples,
.sub-directions {
	stroke-width: 10;
}

/*min-width 480px -- 30em*16px*/
@media only screen and (min-width: 30em) {
	.button {
		width: 50%
	}
}

/*min-width 640px -- 40em*16px*/
@media only screen and (min-width: 40em) {
	.button {
		width: 35%
	}

	.directions {
		opacity: 1;
	}

	.directions,
	.sub-directions,
	.burst,
	.eye,
	.iris,
	.ripples {
		stroke-width: 8;
	}
}

/*min-width 1024px -- 64em*16px*/
@media only screen and (min-width: 64em) {
	.button {
		width: 25%
	}

	.iris,
	.sub-directions {
		opacity: 1;
	}
}
